@-moz-document domain("sharelatex.com") {
/*Main*/
	html, body,
	nav, div[class*="message"], /* top of project */
	div[class*="content"], /* project, ... base */
	div[class*="loading"], /* laod screen */
	[class*="layout"], aside, /* toolbars + editor layout */
	span[class^="ng"], /* file list */
	.chat .new-message textarea  /* chat */{
	/*color: #8F908A;*/
		background-color: #272822 !important;
	}

	h1, h2, h3, h4{
    	/*color: #8F908A;*/
		background-color: rgba(0,0,0,0) !important;
		color: #9b9b9b;
	}

	.plans .plans-header h1, .plans .plans-header h2, .plans .plans-header p {
		text-shadow: 0 -1px 1px #2f3129;
	}

	span[class^="ng"] { background-color: inherit !important; } /* for hover */
	a[class*="brand"] { background-color: rgba(0,0,0,0) !important; } /* logo */
	ul[class*="list"] li a { color: rgba(232, 231, 231, 0.69) !important; } /* replaces too dark blue */
	ul[class*="menu"] li a { color: gray !important; } /* lighter gray */
	[class*="toolbar"] {background-color: rgba(0,0,0,0);}

/* hover */
	ul[class*="list"]:not([class*="menu"]) li:hover, li[class*="ng"] :hover{
		background-color: #3a3a3a !important;
	}

	.toolbar .btn-full-height:hover{
		background-color: #3a3a3a /*rgba(0,0,0,0)*/ !important;
		color: #a4a4a4 !important;
	}

	.toolbar .btn-full-height {
		background-color: rgba(0,0,0,0);
	}  
	ul.folders-menu>li.active>a {
    	color: #fff !important;
	}

  /* dropdowns */
  div[class*="card"], ul[class*="dropdown-menu"] {
    background-color: #2a2a2a !important;
    color: rgb(143, 144, 138);
  }
  div.form-controls select {
    background-color: #2a2a2a !important;
    border-left:1px solid #2f3129;
    border-right:1px solid #2f3129;
    border-top:1px solid #2f3129;
    border-bottom:1px solid #2f3129;
  }
	.dropdown-menu .divider {
    	background-color: #2f3129;
	}

/*Left Menu*/
	#left-menu-mask {
	    opacity: .4;
	    background-color: black;
		-webkit-backdrop-filter: blur(10px);
	}
	#left-menu h4 {
    	border-bottom: 1px solid #2f3129;
	}
	#left-menu form.settings div.form-controls label {
		background: #505050;
		/*color: #8F908A; no important to keep hover color */
	}
  
/* autocomplete popup */
	.ace_editor.ace_autocomplete{
		color: #878882;
	}
	  [class*="autocomplete"] .ace_active-line { background-color: rgba(143, 144, 138, .2) /*#2a364a*/ !important; } /* active/selected line */
	  [class*="autocomplete"] .ace_completion-highlight { color: #F8F8F2 !important; } /* highlighted letters/text = types letters*/
	  [class*="autocomplete"] .ace_line-hover { background-color: #0a162a !important; }  /* mouse hover */

.ui-layout-resizer{
    border-left:1px solid #2f3129;
    border-right:1px solid #2f3129;
    border-top:0px solid #2f3129;
    border-bottom:0px solid #2f3129;
}

/*Toolbar*/
	.toolbar{
		border-bottom:1px solid #2f3129;
	}

	.toolbar.toolbar-alt {
	    background-color: #272822;
	}

	.toolbar .btn-full-height{
	    border-right:1px solid #2f3129;
	}

	.toolbar .toolbar-right .btn-full-height{
	    border-left:1px solid #2f3129;
	}

a:focus, a:hover {
    color: #6b221a;
    text-decoration: underline;
}

/*Button*/

.btn-default {
    color: #333;
    background-color: rgba(255,255,255,.43);
    border-color: rgba(0,0,0,0);
}
.announcements-btn-has-new, .announcements-btn-has-new:hover, .announcements-btn-open, .announcements-btn-open:hover {
    background-color: #e1e1e1;
}

/*Left Menu fix*/
#left-menu form.settings div.form-controls label{
	background: rgba(0,0,0,0);
    color: #a4a4a4;
}
#left-menu form.settings label{
	color: #a4a4a4;
}
#file-tree ul.file-tree-list li .entity-name span{
    color: /*#252525*/ #a4a4a4;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Dark pdf border */
  .pdf-viewer div.pdfjs-viewer {
    background-color: inherit;
    border-left:0px solid #2f3129;
    border-right:0px solid #2f3129;
    border-top:0px solid #2f3129;
    border-bottom:0px solid #2f3129;
  }

/*Button close*/
.close {
    float: right;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

/*Share*/
.modal-body-share .invite-controls {
    background-color: rgba(176, 181, 150, 0.07);
    border-radius: 1%;
}


/*Footer (track changes activation)*/
.modal-footer {
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 0px solid #e5e5e5;
    background-color: rgba(176, 181, 150, 0.07);
    border-radius: 0 0 5px 5px;
}

/*Header*/
.modal-header {
    border-bottom: 1px solid #2f3129;
    border-bottom-style: solid;
    border-bottom-color: rgba(229, 229, 229, .1);
}

.modal-body-share .project-invite, .modal-body-share .project-member, .modal-body-share .public-access-level {
    border-bottom: 1px solid #2f3129;
    border-bottom-style: solid;
    border-bottom-color: rgba(229, 229, 229, .1);
}
/*
tags-input .tags {
    background-color: #fff;
}*/
/*Main Page*/
	/*Navbar defalut main page logged in*/
		.navbar-default {
    	border-color: #2f3129;
    	border-top-color: #2f3129;
    	border-right-color: #2f3129;
    	border-bottom-color: #2f3129;
    	border-left-color: #2f3129;
	}

	/*Division in main page*/
		hr {
    		border-top: 1px solid #2f3129;
		}
		ul.structured-list li {
    		border-bottom: 1px solid #2f3129;
		}
	/*Footer in main page*/
		footer.site-footer {
    		border-top: 1px solid #2f3129;
		}
	/*Progress bar*/
		.progress {
		    background-color: #a4a4a4;
		    border: 0px solid #cfcfcf;
		    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
		}
	/*Announcement box*/
		.announcement-header ng-binding h2{
        	background-color: rgba(0,0,0,0) !important;                                                                        
		}
		.announcements-scroller{
			background-color: #e1e1e1;
		}
		.announcements-body::after {
    		color: #e1e1e1;
		}

/*Chat*/
	.chat .new-message textarea {
	    border: 1px solid #2f3129;
	    border-top-color: #2f3129;
	    border-top-style: solid;
	    border-top-width: 1px;
	    border-right-color: #2f3129;
	    border-right-style: solid;
	    border-right-width: 1px;
	    border-bottom-color: #2f3129;
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
	    border-left-color: #2f3129;
	    border-left-style: solid;
	    border-left-width: 1px;
	}
	.chat .new-message {
	    border-top: 1px solid #2f3129;
	    border-top-width: 1px;
	    border-top-style: solid;
	    border-top-color: #2f3129;
	}

/*Review Panle*/
	#review-panel {
    	background-color: #272822 !important;
    	border-left: solid 0px #2f3129;
    	color: #7a7a7a;
	}
	.review-panel-toolbar {
    	border-bottom: 1px solid #2f3129;
    	background-color: #272822;
	}
	.rp-toggle-hidden-input+.rp-toggle-btn {
	    background-color: #202020;
	    border: 1px solid #272822;
	}
	.rp-toggle-hidden-input+.rp-toggle-btn::before {
	    background-color: #666352;
	}
	.rp-nav, .rp-overview-file-header {
    	background-color: #272822;
    	border-top: solid 1px #2f3129;
	}
	.resolved-comments-toggle {
    	color: #7a7a7a;
    	border: 1px solid #7a7a7a;
	}
	tags-input .tags {
	    color: #7a7a7a;
	    border: 0px solid #ccc;
	    background-color: #272822 !important;
	}
	input {
	    background-color: rgba(0,0,0,0) !important;
	}

/*Search box*/
	.form-control {
	    background-color: #ccc;
	    border: 0px solid #ccc;
	}
	.form-control, output {
    	color: /*#7a7a7a*/ #272822;
	}

/*Alert box*/
	.alert-info {
	    background-color: rgba(234, 232, 232, 0.87);
	}
/*Upgrade History back*/
	#history .upgrade-prompt {
		background-color: rgba(0,0,0,.4);
	}
	#history aside.change-list ul li.change .description {
	    border-bottom: 1px solid #2f3129;
	}
	#history aside.change-list ul li:hover{
		color: rgba(123,123,123,.9);	
	}
	#history aside.change-list ul li.change .day {
		background-color: #505050;
		color: #a4a4a4;
	    border-bottom: 1px solid #2f3129;
	}
	#history aside.change-list {
	    border-left: 1px solid #2f3129;
	}

/*Terms of use fix*/
	.page-header, .template-section-header {
    	border-bottom: 1px solid #2f3129;
	}

/*Review dropdown*/
	.resolved-comments-dropdown::before {
	    border-color: transparent transparent #272822;
	    border-top-color: transparent;
	    border-right-color: transparent;
	    border-bottom-color: #272822;
	    border-left-color: transparent;
	    border-style: solid;
	}
.resolved-comments-dropdown {
    background-color: #272822;
}
}
